body {
    background-color: black;

}

.prt-1 {
    background-color: white;
    width: 30%;
    height: 50px;
    margin-top: 50px ;
    margin-left: 10px;
    border-radius: 10px;
}

.btn{
    margin-top: 50px;
    margin-left: 10px;

}

button {
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

